@model ProyectoLenguajes.Models.DTO.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NombrePagina - Login</title>
    <style>
        body {
            background-color: #000;
            font-family: Arial, sans-serif;
            color: #fff;
        }

        .login-container {
            border: 1px solid #333;
            width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #222;
            text-align: center;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

            .login-container h2 {
                margin-bottom: 20px;
            }

        .input-group {
            margin-bottom: 20px;
        }

            .input-group label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                text-align: left;
            }

            .input-group input[type="text"],
            .input-group input[type="password"] {
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: #333;
                color: #fff;
            }

                .input-group input[type="text"]:focus,
                .input-group input[type="password"]:focus {
                    outline: none;
                }

        .error-message {
            color: green;
            margin-top: 5px;
            text-align: left;
        }

        .login-button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: forestgreen;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

            .login-button:hover {
                background-color: darkolivegreen;
            }

        .signup-link {
            display: block;
            margin-top: 20px;
            color: #888;
            text-decoration: none;
        }

            .signup-link:hover {
                color: #fff;
            }

    </style>
</head>
<body>
    <div class="login-container">
        <h2>NombrePagina</h2>
        <form asp-action="Login" method="post">
            <div class="input-group">
                <label asp-for="UserName">Username</label>
                <input type="text" asp-for="UserName" />
            </div>
            <div class="input-group">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" />
            </div>
            @if (TempData["msg"] != null)
            {
                <div class="error-message">
                    <span>@TempData["msg"]</span>
                </div>
            }
            <button class="login-button" type="submit">Sign In</button>
            <a href="/UserAuthentication/Registration" class="signup-link">Not a member? Sign up now</a>
        </form>
    </div>
</body>
</html>
