@model ProyectoLenguajes.Models.DTO.RegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Streamify - Registration</title>
    <style>
        body {
            background-color: #000;
            font-family: Arial, sans-serif;
            color: #fff;
        }

        .container {
            border: 1px solid #333;
            width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #222;
            text-align: center;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        h3 {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            text-align: left;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
        }

        .text-danger {
            color: green;
            margin-top: 5px;
            text-align: left;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: forestgreen;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: darkolivegreen;
            }

        .btn-info {
            display: block;
            margin-top: 20px;
            color: #888;
            text-decoration: none;
        }

            .btn-info:hover {
                color: #fff;
            }

        .signup-button {
            margin-top: 10px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h3>Registration</h3>
        <form asp-action="Registration" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label>UserName</label>
                <input type="text" class="form-control" asp-for="UserName" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label>Password Confirm</label>
                <input type="password" class="form-control" asp-for="PasswordConfirm" />
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>

            @if (TempData["msg"] != null)
            {
                <div class="form-group">
                    @TempData["msg"]
                </div>
            }

            <button type="submit" class="btn btn-primary signup-button">Sign Up</button>

            <a class="btn btn-info" href="/UserAuthentication/Login">Login</a>
        </form>
    </div>
</body>
</html>
