@model ProyectoLenguajes.Models.Episode

@{
    ViewData["Title"] = "Add Episode";
    int ms_id = ViewBag.ms_id;
}


<h1>Add Episode</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-@ViewBag.Message.Tipo fade show" role="alert">
        <strong> Mesaage: </strong>@Html.Encode(ViewBag.Message.Text)
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ms_id" value="@ms_id"/>
            </div>
            <div class="form-group">
                <label asp-for="season_id" class="control-label">Season</label>
                <input asp-for="season_id" class="form-control" autocomplete="off" />
                <span asp-validation-for="season_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="episode_id" class="control-label">Episode</label>
                <input asp-for="episode_id" class="form-control" autocomplete="off" />
                <span asp-validation-for="episode_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tittle" class="control-label">Tittle</label>
                <input asp-for="tittle" class="form-control" autocomplete="off" />
                <span asp-validation-for="tittle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label">Duration</label>
                <input asp-for="duration" class="form-control" autocomplete="off" />
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-ms_id="@ms_id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
