@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #000;
            font-family: Arial, sans-serif;
            color: #fff;
        }

        .text-center {  
            text-align: center;
            margin-top: 200px;
        }

        .display-4 {
            font-size: 48px;
            font-weight: bold;
            color: green;
        }

        p {
            font-size: 18px;
            margin-top: 20px;
        }

        a {
            color: green;
        }

            a:hover {
                color: green;
            }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
</html>
