@model ProyectoLenguajes.Models.Actor

@{
    ViewData["Title"] = "Edit Actor";
}

<h1>Edit Actor</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-@ViewBag.Message.Tipo fade show" role="alert">
        <strong> Mesaage: </strong>@Html.Encode(ViewBag.Message.Text)
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="actor_id" />
            <div class="form-group">
                <label asp-for="actor_first_name" class="control-label">FirstName</label>
                <input asp-for="actor_first_name" class="form-control" autocomplete="off"/>
                <span asp-validation-for="actor_first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actor_last_name" class="control-label">LastName</label>
                <input asp-for="actor_last_name" class="form-control" autocomplete="off"/>
                <span asp-validation-for="actor_last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actor_photo" class="control-label">Photo</label>
                <input asp-for="actor_photo" class="form-control" autocomplete="off"/>
                <span asp-validation-for="actor_photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
