@model ProyectoLenguajes.Models.MovieOrSerieData

@{
    ViewData["Title"] = Model.movie_serie.tittle;
}
<style>
    .rating-container {
      display: inline-block;
      font-size: 2rem;
    }

    .rating-container .star {
      color: #0B0B61;
      cursor: pointer;
      transition: color 0.2s;
    }

    .rating-container .star:hover,
    .rating-container .star:hover ~ .star {
      color: #FFBF00;
    }

    .rating-container .star.checked {
      color: #FFBF00;
    }
  </style>
@{
    int ms_id = Model.movie_serie.ms_id;
    string app_user = User.Identity.Name;
}
<h5 id="votes">Votes: @Model.rating_data.votes</h5>
<h5 id="percentage">Percentage: @Model.rating_data.percentage</h5>
<div class="container">
    <div class="rating-container">
        <span class="star" onclick="rateMovie(1,'@app_user',@ms_id)" onmouseover="highlightStars(1)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(2,'@app_user',@ms_id)" onmouseover="highlightStars(2)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(3,'@app_user',@ms_id)" onmouseover="highlightStars(3)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(4,'@app_user',@ms_id)" onmouseover="highlightStars(4)" onmouseout="resetStars()">&#9733;</span>
        <span class="star" onclick="rateMovie(5,'@app_user',@ms_id)" onmouseover="highlightStars(5)" onmouseout="resetStars()">&#9733;</span>
    </div>
</div>
<h5 id="average">Average: @Model.rating_data.average from 5</h5>


@section Scripts {
    <script>
        $(document).ready(function () {
            showRate(@Model.rating_data.average);
        });
    </script>
    <script src="~/js/mosd.js" asp-append-version="true"></script>
}