@model ProyectoLenguajes.Models.UserInformation

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000;
            font-family: Arial, sans-serif;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        h1, h4 {
            color: white;
            text-align: center;
        }

        .row {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: center;
        }

        .control-label {
            font-weight: bold;
            color: #fff;
            text-align: left;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
        }

        .text-danger {
            color: red;
        }

        .btn-primary {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: forestgreen;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: darkolivegreen;
            }

        .btn-back {
            display: block;
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            text-align: center;
        }

            .btn-back:hover {
                background-color: #555;
            }

        .edit-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            background-image: url("/img/edit.png"); /* Reemplaza "edit-icon.png" con la ruta de tu icono */
            background-size: cover;
        }

        .form-row {
            display: flex;
            justify-content: space-between;
        }

            .form-row .form-group {
                width: 48%;
            }
    </style>
</head>
<body>
    <h1><span class="edit-icon"></span>Update-User</h1>
   
    <hr />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.Id" />
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="Roles" class="control-label text-capitalize"></label>
                        <input asp-for="Roles[0]" list="roles" class="form-control" />
                        <datalist id="roles">
                            <option><span asp-validation-for="Roles[0]" class="text-danger">admin</span></option>
                            <option><span asp-validation-for="Roles[0]" class="text-danger">client</span></option>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Name" class="control-label"></label>
                        <input asp-for="User.Name" class="form-control" />
                        <span asp-validation-for="User.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="User.UserName" class="control-label"></label>
                        <input asp-for="User.UserName" class="form-control" />
                        <span asp-validation-for="User.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label"></label>
                        <input asp-for="User.Email" class="form-control" />
                        <span asp-validation-for="User.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group button-container">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-back">Back to List</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
